.footer-section {
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  padding: 50px 0;
  background-color: #e6e1e1e6; /* Background color without transparency */
}

.footer-section::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the transparent layer */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("grain-texture.png"); /* URL to your grained texture image */
  opacity: 0.2; /* Adjust the opacity as needed */
  pointer-events: none; /* Ensure clicks pass through the overlay */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-image {
  width: 200px;
  height: auto;
}

.footer-description {
  color: #5d5d5d;
  transition: 0.3s;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #d63131;
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-link-group {
  margin-right: 30px;
}

.footer-link-title {
  /* color: #d63131;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px; */
  transition: 0.3s;
  border-radius: 20px;
  padding: 10px 10px;
  color: #ffffff;
  background-color: #c3d631;
}

.footer-link-list {
  padding: 0;
  margin: 0;
}

.footer-link-item {
  color: #000;
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #555;
  padding-top: 20px;
}

.footer-copyright {
  color: #000000;
  font-size: 14px;
  /* margin-left: 1; */
}

.social-media-icons {
  display: flex;
}

.social-media-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  background-color: #0000007f;
}

.social-media-icon:last-child {
  margin-right: 1;
}
